[submodule "externals/llvm-project"]
	path = externals/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "externals/antlr4"]
	path = externals/antlr4-runtime-wrapper/antlr4
	url = https://github.com/antlr/antlr4.git
